.background-style{
background-color: #F8FAFF;
}

.left-panel{
background-image: url(/src/Components/assets/Left\ side.png);
height: 100vh;
width: 50%;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

.logo {
  margin-top: 2.5rem;
  margin-left: 2.5rem;
}
.logo > p {
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
.heading{
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 25%;
}
.heading > p { 
  font-size: 4rem;
  font-weight: 700;
}

.icons-row{
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: 3rem;
  left: 40%;
  display: flex;
  justify-content: center;
}

.right-panel {
  width: 50%;
  background-color: #f8faff;
}