.bar-chart-wrapper {
    height: 250px !important;
    width: 100% !important;
}
.stock-image {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.dashboard-heading {
    font-size: 1.5rem;
    font-weight: 700;
}
.dashboard-sub-heading {
    font-size: 1.125rem;
    font-weight: 700;
}
.activities-legend {

    /* background-color: red; */
}
.activities-heading-wrapper {
}
.legend {
    /* background-color: aqua; */
}
.legend > img {
    width: 10px;
    height: 10px;
    margin: 1rem;
}
.legend p  {
    font-size: 1rem;
}