.border-and-shadow-box {
    border: 2px solid #E0E0E0;
    box-shadow: 4px 4px 20px 0px #0000001A;
    border-radius: 1.25rem;
}
.bar-chart-wrapper {
    height: 200px !important;
    width: 100% !important;
}
.stock-image {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.dashboard-heading {
    font-size: 1.5rem;
    font-weight: 700;
}
.dashboard-sub-heading {
    font-size: 1.125rem;
    font-weight: 700;
}
.dashboard-menu-links > h2 {
    font-size: 1.125rem;
}
.menu-bottom-links {
    font-size: 0.875rem;
}

.legend > img {
    width: 10px;
    height: 10px;
    margin: 1rem;
}
.legend p  {
    font-size: 0.875rem;
    font-weight: 400;
    font-family: var(--second-font);
}

.activities-subhead-wrapper > p {
    font-size: 0.875rem;
    color: #858585;
}