.border-and-shadow-box {
    border: 2px solid #E0E0E0;
    box-shadow: 4px 4px 20px 0px #0000001A;
}
.bar-chart-wrapper {
    height: 200px !important;
    width: 100% !important;
}
.stock-image {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.dashboard-heading {
    font-size: 1.5rem;
    font-weight: 700;
}
.dashboard-sub-heading {
    font-size: 1.125rem;
    font-weight: 700;
}

.legend > img {
    width: 10px;
    height: 10px;
    margin: 1rem;
}
.legend p  {
    font-size: 1rem;
}